:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.input{
  width: 600px;
  height: 46px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.parent .add{
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0px 5px 0px 5px;
  width: 50px ;
  height: 46px;
  text-align: center;
}

.listItem{
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  border: 1px solid white;
  list-style: none;
  text-align: justify;
  padding: 15px 0px 0px 15px;
  width: 800px;
  height: 40px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;

}

.fa-x{
  float: right;
  margin: 5px 15px 0px 0px;
  cursor: pointer;
  transform: rotate(90deg);
}

.fa-x:hover{
  transform: rotate(180deg);
  transition: 0.3s;
}

.footer{
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.footer-link a{
  color: yellow;
  text-decoration: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

